h2{


	text-align: center;
	font-size: 2rem;
}



div#box{

	width:80%;
	margin: 5% auto;
}
input#fromAmount{
	margin-bottom: 0;
}

select {
font-size: 1.5rem;

}
p{

	font-size: 1.5rem;
}

input,label{
	display: block;
	font-size: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

button{

	font-size: 1.5rem;
	margin-top:1.5rem;
	display: block;
}
div.center{

	width:40%;
	margin: 0 auto;
}